$bemBlockPrefix: 'b-'
$bemElementSeparator: '__' 
$bemModifierSeparator: '--'

@function selectorToString($selector)
	$selector: inspect($selector) //cast to string
	$selector: str-slice($selector, 2, -2) //remove bracket
	@return $selector

@function containsModifier($selector)
	$selector: selectorToString($selector)
	@if str-index($selector, $bemModifierSeparator)
		@return true
	@else
		@return false
		
@function getBlock($selector)
	$selector: selectorToString($selector)
	$elementStart: str-index($selector, $bemElementSeparator)
	$modifierStart: str-index($selector, $bemModifierSeparator)
	$start: if($elementStart, $elementStart - 1, $modifierStart - 1)
	@return str-slice($selector, 0, $start)

=b($block)
	.#{$bemBlockPrefix+$block}
		@content

//.b-subscribe-form__form--submit_field

=e($element)
	$selector: &
	@at-root
		@if containsModifier($selector)
			$block: getBlock($selector)
			#{$selector}
				#{$block+$bemElementSeparator+$element}
					@content
		@else
			#{$selector+$bemElementSeparator+$element}
				@content

=m($modifier)
	@at-root
		#{&}#{$bemModifierSeparator+$modifier}
			@content
			
=icons-m($modifiers, $width, $height)
	@for $i from 1 through length($modifiers)
		+m(nth($modifiers, $i))
			background-position: -($i - 1) * $width (0)
			&:hover
				background-position: -($i - 1)*$width (-$height)
			&:active
				background-position: -($i - 1) * $width (-2 * $height)